<h1>Update Seed</h1>

<form [formGroup]="newSeedForm"
      (ngSubmit)="onSubmit(id)">

  <div>
    <label for="name">
      Name
    </label>
    <input placeholder="You seed's name" [(ngModel)]="name" id="name" type="text" formControlName="name">
  </div>



  <div>
    <label for="lightNeeds">
      Light Needs
    </label>
    <select [(ngModel)]="plantLight" id="lightNeeds" formControlName="lightNeeds">
      <option hidden="hidden" value="">Choose your plant's light needs</option>
      <option *ngFor="let lightneed of lightNeeds" [ngValue]="lightneed.name">
        {{lightneed.name}}
      </option>
    </select>
  </div>

  <div>
    <label for="waterNeeds">
      Water Needs
    </label>
    <select [(ngModel)]="plantWater" id="waterNeeds" formControlName="waterNeeds">
      <option hidden="hidden" value="">Choose your plant's water needs</option>
      <option *ngFor="let waterneed of waterNeeds" [ngValue]="waterneed.name">
        {{waterneed.name}}
      </option>
    </select>
  </div>
  <div>
    <label for="soilNeeds">
      Soil Needs
    </label>
    <select [(ngModel)]="plantSoil" id="soilNeeds" formControlName="soilNeeds">
      <option hidden="hidden" value="">Choose your plant's soil needs</option>
      <option *ngFor="let soilneed of soilNeeds" [ngValue]="soilneed.name
">
        {{soilneed.name}}
      </option>
    </select>
  </div>

  <div>
    <label for="expectedHarvestAmount">
      Harvest Amount
    </label>
    <input placeholder="Expected" [(ngModel)]="expectedHarvestAmount" id="expectedHarvestAmount" type="number" min="0" formControlName="expectedHarvestAmount">
    <input placeholder="Actual" [(ngModel)]="actualHarvestAmount" id="actualHarvestAmount" type="number" min="0" formControlName="actualHarvestAmount">
    <select [(ngModel)]="harvestUnit" id="harvestUnit" formControlName="harvestUnit">
      <option hidden="hidden" value="">unit</option>
      <option *ngFor="let unit of harvestUnits" [ngValue]="unit.name
">
        {{unit.name}}
      </option>
    </select>
  </div>

  <div>
    <label for="temperature">
      Temperature
    </label>
    <input [(ngModel)]="lowerTemp" id="lowerTemp" type="number" formControlName="lowerTemp">
    <input [(ngModel)]="higherTemp" id="higherTemp" type="number" formControlName="higherTemp">
    <select [(ngModel)]="tempUnit" id="temperature" formControlName="tempUnit">
      <option hidden="hidden" value="">unit</option>
      <option *ngFor="let unit of tempUnits" [ngValue]="unit.name
">
        {{unit.name}}
      </option>
    </select>
  </div>

  <div>
    <label for="color">
      Color
    </label>
    <input [(ngModel)]="color" type="color" id="color" formControlName="color"/>
  </div>
  <button class="button" type="submit">Update Seed</button>
</form>
