<h1>{{name}}</h1>
<details *ngIf="plants?.length">
  <summary>Seeds</summary>
  <ul class="seeds">
    <li *ngFor="let plant of plants">
      <button [ngStyle]="{'background-color': (plant.color)}" class="seed" [class.selected]="plant === selectedPlant" type="button" (click)="onSelect(plant)">
      {{plant.name}}
      </button>
    </li>
  </ul>
</details>


<div class="rows" *ngFor="let row of gardenService.createRange(rows)">
  <div (mouseover)="gardenService.getCellOnPosition(garden, column, row).showDetails = true"
       (mouseleave)="gardenService.getCellOnPosition(garden, column, row).showDetails = false"
       class="cell" *ngFor="let column of gardenService.createRange(columns)" (click)="sowSeed(gardenService.getCellOnPosition(garden, column, row), selectedPlant)">
    <div class="top-line">
      <p class="coordinates">R{{row}} / C{{column}}</p>
      <button *ngIf="gardenService.getCellOnPosition(garden, column, row).plant" class="water-btn" (click)="waterCell(gardenService.getCellOnPosition(garden, column, row), garden.gardenId)">W</button>
      <button *ngIf="gardenService.getCellOnPosition(garden, column, row).plant" class="fertilize-btn" (click)="fertilizeCell(gardenService.getCellOnPosition(garden, column, row), garden.gardenId)">F</button>
    </div>
    <p [ngStyle]="{'color': (gardenService.getCellOnPosition(garden, column, row).plant?.color)}" class="planted">{{gardenService.getCellOnPosition(garden, column, row).plant?.name}}</p>
    <div class="dates">
      <p *ngIf="gardenService.getCellOnPosition(garden, column, row).plant" class="water-date">Last watered:
        {{
        plantService.DecideDate(gardenService.getCellOnPosition(garden, column, row).wateredDate)
        }}
      </p>
      <p *ngIf="gardenService.getCellOnPosition(garden, column, row).plant" class="fertilize-date">Last fertilized:
        {{
        plantService.DecideDate(gardenService.getCellOnPosition(garden, column, row).fertilizedDate)
        }}
      </p>
    </div>
  </div>
</div>




<button (click)="onSubmit(id)" class="save-button" type="submit">Save Changes</button>
