<h1>{{name}}</h1>
<details *ngIf="plants?.length">
  <summary>Seeds</summary>
  <ul class="seeds">
    <li *ngFor="let plant of plants">
      <button [ngStyle]="{'background-color': (plant.color)}" class="seed" [class.selected]="plant === selectedPlant" type="button" (click)="onSelect(plant)">
      {{plant.name}}
      </button>
    </li>
  </ul>
</details>


<div class="rows" *ngFor="let row of gardenService.createRange(rows)">
  <div (mouseover)="gardenService.getCellOnPosition(garden, column, row).showDetails = true"
       (mouseleave)="gardenService.getCellOnPosition(garden, column, row).showDetails = false"
       class="cell" *ngFor="let column of gardenService.createRange(columns)" (click)="sowSeed(gardenService.getCellOnPosition(garden, column, row), selectedPlant)">
    <div class="top-line">
      <p class="coordinates">R{{row}} / C{{column}}</p>
      <button class="water-btn" (click)="waterCell(gardenService.getCellOnPosition(garden, column, row), garden.gardenId)">W</button>
      <button class="fertilize-btn" (click)="fertilizeCell(gardenService.getCellOnPosition(garden, column, row), garden.gardenId)">F</button>
    </div>
    <p [ngStyle]="{'color': (gardenService.getCellOnPosition(garden, column, row).plant?.color)}" class="planted">{{gardenService.getCellOnPosition(garden, column, row).plant?.name}}</p>
    <div class="dates">
      <p class="water-date">Last watered:
        {{
        (formatDate(gardenService.getCellOnPosition(garden, column, row).wateredDate, 'yyyy/MM/dd', 'en')) === '0001/01/01' ? '-' :
          (formatDate(gardenService.getCellOnPosition(garden, column, row).wateredDate, 'yyyy/MM/dd', 'en')) === (formatDate(today, 'yyyy/MM/dd', 'en')) ? 'Today' :
            (formatDate(gardenService.getCellOnPosition(garden, column, row).wateredDate, 'yyyy/MM/dd', 'en')) === (formatDate(yesterday, 'yyyy/MM/dd', 'en')) ? 'Yesterday' :
              (formatDate(gardenService.getCellOnPosition(garden, column, row).wateredDate, 'yyyy/MM/dd', 'en'))
        }}
      </p>
      <p class="fertilize-date">Last fertilized:
        {{
        (formatDate(gardenService.getCellOnPosition(garden, column, row).fertilizedDate, 'yyyy/MM/dd', 'en')) === '0001/01/01' ? '-' :
          (formatDate(gardenService.getCellOnPosition(garden, column, row).fertilizedDate, 'yyyy/MM/dd', 'en')) === (formatDate(today, 'yyyy/MM/dd', 'en')) ? 'Today' :
            (formatDate(gardenService.getCellOnPosition(garden, column, row).fertilizedDate, 'yyyy/MM/dd', 'en')) === (formatDate(yesterday, 'yyyy/MM/dd', 'en')) ? 'Yesterday' :
              (formatDate(gardenService.getCellOnPosition(garden, column, row).fertilizedDate, 'yyyy/MM/dd', 'en'))
        }}
      </p>
    </div>
  </div>
</div>




<button (click)="onSubmit(id)" class="save-button" type="submit">Save Changes</button>
