.seed-name, .plant-water-head, .plant-light-head, .plant-soil-head, .plant-light, .plant-water, .plant-soil, .plant-temperature, .plant-harvest {
  text-align: center;
}

.seed-name, .plant-light, .plant-water, .plant-soil, .plant-temperature {
  padding-top: 24px;
}

.plant-harvest {
  padding-top: 12px;
}

.plant-water-date, .plant-fertilize-date {
  padding-top: 13px;
}

.add-new-btn {
  margin-top: 10px !important;
  margin-bottom: 30px !important;
}

.plant-harvest-amount {
  margin: 0;
}

.plant-harvest-full {
  font-size: small;
  margin: 0;
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: hidden;
  border-width: 0;
}

.seed-update, .seed-delete {
  margin-top: 15px;
}

tbody {
  height: 70px;
}
