<h1 id="tableLabel">My plants</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!plants?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="plants.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Light Needs</th>
      <th>Water Needs</th>
      <th>Soil Needs</th>
      <th>Last watered</th>
      <th>Last fertilized</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr [bgColor]="plant.color" *ngFor="let plant of plants">
      <td>{{ plant.name }}</td>
      <td>{{ plant.lightNeeds }}</td>
      <td>{{ plant.waterNeeds }}</td>
      <td>{{ plant.soilNeeds }}</td>
      <td>{{ formatDate(plant.wateredDate, 'yyyy/MM/dd', 'en') }}
        <button (click)="WaterPlant(plant.id)">Water</button></td>
      <td>{{ formatDate(plant.fertilizedDate, 'yyyy/MM/dd', 'en') }}
        <button (click)="FertilizePlant(plant.id)">Fertilize</button></td>
      <td>
        <button (click)="UpdatePlant(plant.id)">Update</button>
      </td>
      <td>
        <button (click)="DeletePlant(plant.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<a [routerLink]="['/add-new-plant']">Add New Plant</a>
