<h1 id="tableLabel">My gardens</h1>
<p *ngIf="!gardens?.length"><em>Loading...</em></p>

<div id="gardens" class='table table-striped' aria-labelledby="tableLabel" *ngIf="gardens.length">
  <div class="garden" *ngFor="let garden of gardens">
    <br>
    <h5>{{garden.name}}</h5>
    <button class="plant-update" (click)="UpdatePlant(garden.gardenId)">Update Garden</button>
    <button class="plant-update" (click)="ViewGardenDetails(garden.gardenId)">View Garden Details</button>
    <div class="rows" *ngFor="let row of gardenService.createRange(garden.rows)">
      <div class="cell" *ngFor="let column of gardenService.createRange(garden.columns)">
        <p class="coordinates">R{{row}} / C{{column}}</p>
        <p class="planted" [ngStyle]="{'color': (gardenService.getCellOnPosition(garden, column, row).plant?.color)}">{{gardenService.getCellOnPosition(garden, column, row).plant?.name?.charAt(0)}}</p>
      </div>
    </div>
    <button class="plant-delete" (click)="DeletePlant(garden.gardenId)">Delete Garden</button>
  </div>
</div>

<button [routerLink]="['/add-new-garden']">Add New Garden</button>
