.cell {
  background: radial-gradient(#6E4427, #85512B, #A16840, #8E5E3A);
  border: 1px solid black;
  height: 50px;
  max-height: 50px;
  width: 50px;
  display: inline-flex;
  flex-direction: column;
  padding: 0px;
}

.rows {
  max-height: 50px;
}

.coordinates {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  top: 10px;
  color: wheat;
  font-size: x-small;
  max-height: 10%;
  width: 100%;
  z-index: 5;
  display: inline-flex;
}

.planted {
  margin: 5px auto auto;
  z-index: 10;
  font-size: larger;
  text-shadow: 1px 0 5px black, 0 0 1em black, 0 0 0.2em black;
}
