.cell {
  background: radial-gradient(#6E4427, #85512B, #A16840, #8E5E3A);
  border: 1px solid black;
  height: 50px;
  max-height: 50px;
  width: 50px;
  display: inline-flex;
  flex-direction: column;
}

.rows {
  max-height: 50px;
}

.coordinates {
  top: 10px;
  color: wheat;
  margin: 0;
  font-size: x-small;
  max-height: 10%;
  width: 100%;
  z-index: 5;
  display: inline-flex;
}

.planted {
  margin: auto;
  z-index: 10;
}
