<h1 id="tableLabel">My plants</h1>
<p *ngIf="!plants?.length"><em>Loading...</em></p>

<table id="plants-table" class='table' aria-labelledby="tableLabel" *ngIf="plants.length">
  <thead>
    <tr>
      <th class="plant-name-head">Name</th>
      <th class="plant-light-head">Light Needs</th>
      <th class="plant-water-head">Water Needs</th>
      <th class="plant-soil-head">Soil Needs</th>
      <th class="plant-soil-head">Temperature</th>
      <th class="plant-soil-head">Harvest</th>
      <th class="plant-water-date-head">Last watered</th>
      <th class="plant-fertilize-date-head">Last fertilized</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="plants-table-body">
    <tr class="plant-row" [bgColor]="plant.color" *ngFor="let plant of plants">
      <td class="plant-name">{{ plant.name }}</td>
      <td class="plant-light">{{ plant.lightNeeds }}</td>
      <td class="plant-water">{{ plant.waterNeeds }}</td>
      <td class="plant-soil">{{ plant.soilNeeds }}</td>
      <td class="plant-temperature">{{plant.lowerTemp}} ─ {{plant.higherTemp}}{{plant.tempUnit}}</td>
      <td class="plant-harvest">
        <p class="plant-harvest-amount" [ngStyle]="{'color': (plant.actualHarvestAmount > plant.expectedHarvestAmount) ? '#228B22' :
        (plant.actualHarvestAmount == plant.expectedHarvestAmount) ? 'grey' : 'red'}">
          {{(plant.actualHarvestAmount > plant.expectedHarvestAmount) ? '▲ ' :
          (plant.actualHarvestAmount == 0) ? ' ' :
          (plant.actualHarvestAmount == plant.expectedHarvestAmount) ? '✔ ' : '▼ ' }}
          {{plant.actualHarvestAmount}}
        </p>
        <p class="plant-harvest-full">
          ({{plant.actualHarvestAmount}}/{{plant.expectedHarvestAmount}}{{(plant.harvestUnit) ? ' ' + plant.harvestUnit : ''}})
        </p>
      </td>
      <td class="plant-water-date">{{ (plant.waterNeeds != 'Aquatic') ?
        (formatDate(plant.wateredDate, 'yyyy/MM/dd', 'en')) === '0001/01/01' ? '-' :
        (formatDate(plant.wateredDate, 'yyyy/MM/dd', 'en')) === (formatDate(today, 'yyyy/MM/dd', 'en')) ? 'Today' :
          (formatDate(plant.wateredDate, 'yyyy/MM/dd', 'en')) === (formatDate(yesterday, 'yyyy/MM/dd', 'en')) ? 'Yesterday' :
            (formatDate(plant.wateredDate, 'yyyy/MM/dd', 'en')) : ''
        }}
        <button *ngIf="plant.waterNeeds != 'Aquatic'" class="plant-water-btn" (click)="WaterPlant(plant.plantId)">Water</button></td>
      <td class="plant-fertilize-date">{{
        (formatDate(plant.fertilizedDate, 'yyyy/MM/dd', 'en')) === '0001/01/01' ? '-' :
          (formatDate(plant.fertilizedDate, 'yyyy/MM/dd', 'en')) === (formatDate(today, 'yyyy/MM/dd', 'en')) ? 'Today' :
            (formatDate(plant.fertilizedDate, 'yyyy/MM/dd', 'en')) === (formatDate(yesterday, 'yyyy/MM/dd', 'en')) ? 'Yesterday' :
              (formatDate(plant.fertilizedDate, 'yyyy/MM/dd', 'en'))
        }}
        <button class="plant-fertilize-btn" (click)="FertilizePlant(plant.plantId)">Feed</button></td>
      <td>
        <button class="plant-update" (click)="UpdatePlant(plant.plantId)">Update</button>
      </td>
      <td>
        <button class="plant-delete" (click)="DeletePlant(plant.plantId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<button class="add-new-btn" [routerLink]="['/add-new-plant']">Add New Plant</button>
